body {
    background-color: #faf2e4;
    margin: 0 15%;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}                
h2 {
    color: #d1633c;
    font-size: 1em;
}

div.box{
    margin-left: -215px;
    width: 145%;
    height: auto;
    text-align: center;
    color: #f00;
    font-weight: bold;
}
 
div.yellow{
	background:#FFFF00;
}

}
div.pictures {
    text-align: center;
    }

div.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    
}

li a:hover {
    color: white;
}
